<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head.html.ejs') %>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1 class="flex1">Autumn's Books</h1>
        <h3 class="flex2">"A reader lives a thousand lives before he dies.<br/> The man who never reads lives only one."<br/> -George RR Martin</h3>
      </div>
      <hr/>
      <form action="/books" method="POST">
        <fieldset>
          <legend>Add a Book</legend>
          <label for="title">TITLE</label>
          <input type="text" name="title" id="title"/><br/>
          <label for="author">AUTHOR</label>
          <input type="text" name="author" id="author"/><br/>
          <label for="img">COVER IMAGE</label>
          <input type="text" name="img" id="img"/><br/>
          <label for="factoid">FACT</label>
          <input type="text" name="factoid" id="factoid"/><br/>
          <input type="submit" value="SUBMIT" class="add-btn" />
        </fieldset>
      </form>
      <hr/>
      <div class="row row-cols-2">

        <% for(let i = 0; i < books.length; i++){ %>
        <div class='col mb-4'>

      <div class="card text-center" style="width: 20rem;">
        <img src=<%= books[i].img %> class="card-img-top" alt="book cover">
        <div class="card-body">

          <h4><%= books[i].title %></h4>
          <h5><%= books[i].author %> </h5>
          <p class="card-text">
            <%= books[i].factoid %>
          </p>
          <form action="/books/<%=books[i]._id%>?_method=DELETE" method="POST" class="delete-btn">
          <input type="submit" value="DELETE" class="btn btn-danger"/>
      </form>
        </div>
      </div><br/>
      </div>

      <% } %>
      </div>
    </div>
  </body>
</html>
