<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head.html.ejs') %>
  </head>
  <body>
    <div class="container card-container">
      <h1>Autumn's Books</h1>
      <div class="row row-cols-2">

        <% for(let i = 0; i < books.length; i++){ %>
        <div class='col mb-4'>

      <div class="card text-center" style="width: 20rem;">
        <img src=<%= books[i].img %> class="card-img-top" alt="book cover">
        <div class="card-body">

          <h4><%= books[i].title %></h4>
          <h5><%= books[i].author %> </h5>
          <p class="card-text">
            <%= books[i].factoid %>
          </p>
          <form action="/books/<%=books[i]._id%>?_method=DELETE" method="POST" class="delete-btn">
          <input type="submit" value="DELETE" class="btn btn-danger"/>
      </form>
        </div>
      </div><br/>
      </div>

      <% } %>
      </div>
      <a href="/books/new">Add a book</a>
    </div>
  </body>
</html>
